<%- include("header") -%>

<div style="text-align:center">
  <h1 style="margin:3%"><strong><%= Title %></strong></h1>
    <img src="./assets/images/<%= Activity.img %>" style="width:60%">
    </div>
    <div style="margin-left:20%;margin-top:3%">
      <h3 style="display:inline-block"><strong>Where:</strong></h3><h3 class="Truetypewriter" style="display:inline-block;margin-left:3%"> <%= Activity.location %> </h3><br>
      <h3 style="display:inline-block"><strong>When:</strong></h3><h3 class="Truetypewriter" style="display:inline-block;margin-left:3%"> <%= Activity.date %>  </h3>
      <h3 class="Truetypewriter" style="display:inline-block;margin-left:3%"> <%= Activity.time %>  </h3><br>
      <h3 style="display:inline-block"><strong>Details:</strong></h3><h3 class="Truetypewriter" style="display:inline-block;margin-left:3%"> <%= Activity.details %>  </h3><br>
      <% var joinHref = "./join?id=" + Activity._id %>
      <a href=<%= joinHref %> > <button class="btn my-btn" name="button">Join</button></a>
    </div>



<%- include("footer") -%>
