
<%- include("header") -%>

<!-- Intro section -->
  <div class="row">
    <div class="col-md-6" style="padding:0">
      <div class="d-block d-sm-block d-md-none">
          <img class="small-img" src="./assets/images/heading-img-sm.png" />
      </div>
      <div class="d-none d-md-block">
        <img class="left-image img-responsive" src="./assets/images/heading-img.jpg" alt="man-with-mist">
      </div>
    </div>
    <div class="col-md-6 d-none d-md-block intro">
      <p class="Truetypewriter">
        Don't fight with your MENTAL health DISORDER
      </p>
      <p class="Comfortaa">
        <strong>ALONE</strong>
      </p>
      <p class="Truetypewriter">
        We can fight
      </p>
      <p class="Comfortaa">
        <strong>TOGETHER</strong>
      </p>
    </div>
  </div>

  <!-- Actions Section -->
  <div id="carouselExampleIndicators" class="carousel slide" data-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <% var flag=0 %>
      <% activityItems.forEach(function(item){ %>
        <% if (flag==0){%>
          <div class="carousel-item active">
          <% flag=1 %>
        <%}else{%>
          <div class="carousel-item">
        <%}%>
        <div class="row">
          <h1 class="menu-title d-md-none"><strong>OUR ACTIVITIES</strong></h1>
          <div class="col-md-6 activities">
            <h1 class="menu-title col-md-6 d-none d-md-block"><strong>OUR ACTIVITIES</strong></h1><br>
            <p>JOIN <span class="Truetypewriter"> our</span></p>
            <p><%= item.title %></p>
            <p><span class="Truetypewriter">in </span><%= item.location %></p><br>
            <p><%= item.date %></p>
            <% var activityHref = "./activity?id=" + item._id %>
            <a href=<%= activityHref %>><button class="btn my-btn" name="button" style="margin-bottom:15%">Details</button></a>

          </div>
          <div class="col-md-6 d-none d-md-block">
            <img class="right-image hidden-sm" src="./assets/images/<%= item.img %>">
          </div>
        </div>

      </div>
      <%})%>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- About mental health -->

  <div class="row" id="mental-health">
    <h1 class="menu-title d-md-none"><strong>ABOUT MENTAL HEALTH DISORDER</strong></h1>
    <div class="col-md-6 activities">
      <div class="d-none d-md-block">
        <img class="left-image img-responsive" src="./assets/images/mental-illness.png" alt="man-in-bed">
      </div>
    </div>
      <div class="col-md-6 d-none d-md-block intro">
        <h1 class="menu-title"><strong>ABOUT MENTAL HEALTH DISORDER</strong></h1>
        <p class="Truetypewriter mental-text">
          Mental health disorder is a general term for a group of disorders that may include symptoms
          that can affect a person’s thinking, perceptions, mood or behaviour. Mental disorder can make it difficult
          for someone to cope with work, relationships and other demands.
        </p>
          <a href="./mentalHealth"><button class="btn my-btn" name="button">Learn More</button></a>
      </div>
      <div class="col-md-6 d-md-none" style="text-align:center;">
        <img class="small-img hidden-sm" src="./assets/images/mental-illness-sm.png" alt="man-in-bed">
        <button class="btn my-btn" name="button">Learn More</button>
      </div>
      <br>
    </div>


  <!-- Support Us -->
  <div class="row" id="support-us">
    <div class="menu-title">
      <h1>Support Us</h1>
    </div>
    <div class="col-sm-6 support">
      <button class="btn my-btn" name="button">Join Our Team</button>
      <img class="rounded-image d-none d-md-inline-block" src="./assets/images/join-team.jpg" alt="">
    </div>
    <div class="col-sm-6 support">
      <img class="rounded-image d-none d-md-inline-block" src="./assets/images/donation.jpg" alt="">
      <br>
      <button class="btn my-btn" name="button">Donate</button>
    </div>

  </div>

  <!-- 24h Support -->
  <div class="row" id="24h-support">
    <div class="menu-title">
      <h1>24h Support</h1>
    </div>

    <div class="col-sm-6 support">
      <img class="rounded-image" src="./assets/images/phone.jpg" alt="">
      <p class="Truetypewriter" style="font-size:1.5rem;margin-top:1%">210 - 1234567890
      </p>
      <p class="Truetypewriter" style="font-size:1.5rem">support@mentor.gr
      </p>
    </div>
    <div class="col-sm-6 support">
      <img class="rounded-image" src="./assets/images/mobile.jpg" alt="">
      <br>
      <button class="btn my-btn" name="button" style="display:inline-block">Chat</button>
    </div>
  </div>


  <%- include("footer") -%>
